.pagetitle {font-size: 50px; margin: 0}
.tagline {margin: 1px}
#main {
    -ms-flex: 1;
flex : 1;
} 


ul {list-style-type: square}
ul ul {list-style-type: disc}
ul ul ul {list-style-type: circle}
a:link {color: blue}

a:visited {color: blue}
a:hover {color: red}
.nav link:active {color: red}


ol {list-style-type: upper-roman}
p, li {font-famil: Zapf-Chancery, cursive; font-size: 30px} 

header {background-image: url(images/d.png); padding: 20px; color : white; background-repeat: no-repeat"}
